h1{
    text-align: center;
    font-size: xx-large;
    color: violet;
    font-family: cursive;
    font-weight: 200;
    font-style: italic;
}
p{
    text-align: center;
    font-size: xx-small;
    font-family: fantasy;
    color: yellow;
    
}